{% extends 'main/base.html' %}

{% load i18n %}

{% block content %}
    <section class="panel position-relative">
        <div class="panel-body">
            <div class="overflow-hidden">
                <a href="javascript:;" class="h4 show no-m pt10">{% trans 'Ремонт компьютеров на дому' %}</a>
            </div>
            <br>
            <blockquote class="small no-m no-p">
                Не работает компьютер. Сколько это будет стоить? Очень часто мы
                слышим эту фразу от наших клиентов. Но каждый раз ответ один и тот же:
                От 300 рублей до покупки нового компьютера. Давайте разберемся,
                откуда такой разброс цен…
            </blockquote>
            <p class="">
                Начнем с простого. Неисправности бывают двух типов.
                Первый тип - это программные ошибки, второй – неисправность железа.
                При неисправности железа, как правило приходится менять комплектующие,
                починить их удается крайне редко. Рассмотрим наиболее частые проблемы:
            </p>
            <p><b><i class="fa fa-circle text-primary mr5"></i> Не включается компьютер</b></p>
            <p>Если компьютер не включается и вообще не подает никаких признаков
                жизни, это явный признак аппаратных проблем. Причин может быть много.
                От банального разрыва сети, до сгоревшей материнской платы или блока питания.
                Главное правильно диагностировать поломку, что без специального
                оборудования довольно проблематично.
            </p>

            <p><b><i class="fa fa-circle text-primary mr5"></i> Нет изображения на мониторе</b></p>
            <p>
                Ситуация также неоднозначная. Проблема может быть в видеокарте, материнской плате, мониторе или в программном обеспечении. Нужно смотреть, тестировать, выявлять, что конкретно сбоит. Разброс цен от переустановки драйверов (150 рублей) до покупки нового монитора.
            </p>

            <p><b> <i class="fa fa-circle text-primary mr5"></i> Компьютер зависает, выключается, работает не стабильно</b></p>
            <p>
                Неисправность системы охлаждения или целый список программных ошибок – только часть возможных проблем. Иногда проблему спасает чистка системного блока от пыли (690 рублей), иногда приходится переустанавливать Windows, а иногда и вовсе приходится заново покупать половину компьютера. Важно точно поставить диагноз, в чем конкретно проблема. Без специальных знаний и опыта работы здесь, не обойтись.
            </p>
            <p><b> <i class="fa fa-circle text-primary mr5"></i> Хитрые производители</b></p>
            <p>
                Ещё одна проблема возникает, если вашему компьютеру больше двух лет. Рынок компьютерных комплектующих постоянно обновляется. Причем обновляется кардинально, и деталь которой больше двух-трех лет, мало того, что уже может отсутствовать в продаже, так ещё и может не подходить ни к одному современному аналогу. Как следствие, иногда приходится менять все основные детали компьютера, вместо одной неисправной.
            </p>
            <p><b> <i class="fa fa-circle text-primary mr5"></i> Ошибки стоят дорого</b></p>
            <p>
                Как часто приходится видеть ситуацию, когда человек по совету друга или соседа бежит в магазин, покупает дорогостоящую деталь, меняет её, а проблема не исчезает. Следствие некомпетентных советов выливается в "копеечку". Остерегайтесь горе-советчиков, которые в глаза не видя поломку, раздают советы и оглашают проблему. Ставить точный диагноз неисправности должен профессионал, человек, имеющий соответствующий опыт и знания.
            </p>
            <p><b> <i class="fa fa-circle text-primary mr5"></i> И все-таки сколько?</b></p>
            <p>
                Окончательную стоимость ремонта, можно узнать только после проведения диагностики и выявления всех подводных камней. Но не переживайте, стоимость всех услуг по ремонту называется до их проведения, и Вы всегда вправе отказаться от работ. В таком случае Вы оплачиваете только диагностику. Все услуги компании выполняются на основании договора, акта проделанных работ и гарантии качества. В таблице ниже приведены ориентировочные цены. С более полным прайсом Вы можете ознакомиться в разделе Цены. Оставить заявку Вы можете, заполнив форму в начале страницы или по телефону 8(812)900-56-50
            </p>
        </div>
    </section>
    <section class="panel no-b">
        <div class="panel-heading no-b">
            <h5>{% trans 'Ремонт стационарных' %} <b>{% trans 'Компьютеров' %}</b></h5>
        </div>
        <div class="panel-body">
            <table class="table no-m">
                <thead>
                    <tr>
                        <th class="col-md-5 pd-l-lg">
                            <span class="pd-l-sm"></span>{% trans 'Наименование' %}
                        </th>
                        <th class="col-md-2">{% trans 'Цена (руб.)' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span class="pd-l-sm"></span>{% trans 'Установка / замена комплектующих (за единицу)' %}
                        </td>
                        <td>{% trans 'Бесплатно' %}***</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="pd-l-sm"></span>{% trans 'Замена материнской платы' %}
                        </td>
                        <td><i class="fa fa-rub"></i> 590</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="pd-l-sm"></span>{% trans 'Чистка системного блока (без чистки БП)' %}
                        </td>
                        <td>{% trans 'от' %} <i class="fa fa-rub"></i> 690</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="pd-l-sm"></span>{% trans 'Подключение периферийных устройств' %}
                        </td>
                        <td>{% trans 'от' %} <i class="fa fa-rub"></i> 700</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="pd-l-sm"></span>{% trans 'Модернизация компьютера' %}
                        </td>
                        <td>{% trans 'Бесплатно' %}***</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}