<!doctype html>
<html class="no-js" lang="">

{% load static i18n %}

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="Flat, Clean, Responsive, application admin template built with bootstrap 3">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <!-- /meta -->

    <title>{% trans "Computer's clinic" %}</title>

    <!-- page level plugin styles -->
    <!-- /page level plugin styles -->

    <!-- core styles -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- /core styles -->

    <!-- template styles -->
    <link rel="stylesheet" href="{% static 'css/skins/palette.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- template styles -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- load modernizer -->
    <script src="{% static 'plugins/modernizr.js' %}"></script>
</head>
<!-- body -->

<body>
    <div class="cover" style="background-image: url(static/img/cover1.jpg)"></div>
    <div class="overlay bg-color"></div>
    <div class="app horizontal-layout boxed">
        <!-- top header -->
        <header class="header header-fixed navbar">

            <div class="brand">
                <!-- toggle offscreen menu -->
                <a href="javascript:;" class="ti-menu navbar-toggle off-left visible-xs" data-toggle="collapse" data-target="#hor-menu"></a>
                <!-- /toggle offscreen menu -->

                <!-- logo -->
                <a href="{% url 'home' %}" class="navbar-brand">
                    <img src="{% static 'img/logo.png' %}" alt="">
                    <span class="heading-font">
                        {% trans "Computer's clinic" %}
                    </span>
                </a>
                <!-- /logo -->
            </div>

            <div class="collapse navbar-collapse pull-left" id="hor-menu">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="{% url 'home' %}">
                            <span>{% trans 'Главная' %}</span>
                        </a>
                    </li>

{#                    <li class="dropdown">#}
{#                        <a href="javascript:;" data-toggle="dropdown">#}
{#                            <span>Components</span>#}
{#                            <b class="caret"></b>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li>#}
{#                                <a href="buttons.html">#}
{#                                    <span>Buttons</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="general.html">#}
{#                                    <span>General Elements</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="typography.html">#}
{#                                    <span>Typography</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="tabs_accordion.html">#}
{#                                    <span>Tabs and Accordions</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="icons.html">#}
{#                                    <span>Fontawesome Icons</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="themify_icons.html">#}
{#                                    <span>Themify Icons</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="grid.html">#}
{#                                    <span>Grid Layout</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="widgets.html">#}
{#                                    <span>Widgets</span>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
                    <li class="dropdown">
                        <a href="javascript:;" data-toggle="dropdown">
                            <span>{% trans 'Услуги' %}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'repair_pc' %}">
                                    <span>{% trans 'Ремонт компьютеров' %}</span>
                                </a>
                            </li>
{#                            <li>#}
{#                                <a href>#}
{#                                    <span>{% trans 'Ремонт ноутбуков' %}</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href>#}
{#                                    <span>{% trans 'Ремонт планшетов' %}</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href>#}
{#                                    <span>{% trans 'Ремонт Apple' %}</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href>#}
{#                                    <span>{% trans 'Установка Windows' %}</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href>#}
{#                                    <span>{% trans 'Удаление вирусов' %}</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href>#}
{#                                    <span>{% trans 'Антивирус' %}</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href>#}
{#                                    <span>{% trans 'Интернет' %}</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href>#}
{#                                    <span>{% trans 'Восстановление данных' %}</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href>#}
{#                                    <span>{% trans 'Родительский контроль' %}</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href>#}
{#                                    <span>{% trans 'Удаленное обслуживание' %}</span>#}
{#                                </a>#}
{#                            </li>#}
                        </ul>
                    </li>

                    <li>
                        <a href="{% url 'price' %}">
                            <span>{% trans 'Цены' %}</span>
                        </a>
                    </li>

                    <li>
                        <a href>
                            <span>{% trans 'Контакты' %}</span>
                        </a>
                    </li>

{#                    <li class="dropdown">#}
{#                        <a href="javascript:;" data-toggle="dropdown">#}
{#                            <span>Pages</span>#}
{#                            <b class="caret"></b>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li>#}
{#                                <a href="mail.html">#}
{#                                    <span>Mailbox</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="mail_view.html">#}
{#                                    <span>Mail View</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="compose.html">#}
{#                                    <span>Compose</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="profile.html">#}
{#                                    <span>Profile</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="invoice.html">#}
{#                                    <span>Invoice</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="signin.html">#}
{#                                    <span>Signin</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="signup.html">#}
{#                                    <span>Signup</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="forgot.html">#}
{#                                    <span>Forgot Password</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="lock.html">#}
{#                                    <span>Lock Screen</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="404.html">#}
{#                                    <span>404 Page</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="500.html">#}
{#                                    <span>500 Page</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="changelog.html">#}
{#                                    <span>Change Log</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="timeline.html">#}
{#                                    <span>Timeline</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="catalog.html">#}
{#                                    <span>Catalog</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="chat.html">#}
{#                                    <span>Chat</span>#}
{#                                </a>#}
{#                            </li>#}
{##}
{#                        </ul>#}
{#                    </li>#}
                </ul>
            </div>

            <ul class="nav navbar-nav">
{#                <li class="header-search">#}
{#                    <!-- toggle search -->#}
{#                    <a href="javascript:;" class="toggle-search">#}
{#                        <i class="ti-search"></i>#}
{#                    </a>#}
{#                    <!-- /toggle search -->#}
{#                    <div class="search-container">#}
{#                        <form role="search">#}
{#                            <input type="text" class="form-control search" placeholder="type and press enter">#}
{#                        </form>#}
{#                    </div>#}
{#                </li>#}
            </ul>

            <ul class="nav navbar-nav navbar-right">

{#                <li class="dropdown hidden-xs">#}
{#                    <a href="javascript:;" data-toggle="dropdown">#}
{#                        <i class="ti-more-alt"></i>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu animated zoomIn">#}
{#                        <li class="dropdown-header">Quick Links</li>#}
{#                        <li>#}
{#                            <a href="javascript:;">Start New Campaign</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="javascript:;">Review Campaigns</a>#}
{#                        </li>#}
{#                        <li class="divider"></li>#}
{#                        <li>#}
{#                            <a href="javascript:;">Settings</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="javascript:;">Wish List</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="javascript:;">Purchases History</a>#}
{#                        </li>#}
{#                        <li class="divider"></li>#}
{#                        <li>#}
{#                            <a href="javascript:;">Activity Log</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="javascript:;">Settings</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="javascript:;">System Reports</a>#}
{#                        </li>#}
{#                        <li class="divider"></li>#}
{#                        <li>#}
{#                            <a href="javascript:;">Help</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="javascript:;">Report a Problem</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}

{#                <li class="notifications dropdown">#}
{#                    <a href="javascript:;" data-toggle="dropdown">#}
{#                        <i class="ti-bell"></i>#}
{#                        <div class="badge badge-top bg-danger animated flash">#}
{#                            <span>3</span>#}
{#                        </div>#}
{#                    </a>#}
{#                    <div class="dropdown-menu animated fadeInLeft">#}
{#                        <div class="panel panel-default no-m">#}
{#                            <div class="panel-heading small"><b>Notifications</b>#}
{#                            </div>#}
{#                            <ul class="list-group">#}
{#                                <li class="list-group-item">#}
{#                                    <a href="javascript:;">#}
{#                                        <span class="pull-left mt5 mr15">#}
{#                                            <img src="{% static 'img/faceless.jpg'%} " class="avatar avatar-sm img-circle" alt="">#}
{#                                        </span>#}
{#                                        <div class="m-body">#}
{#                                            <div class="">#}
{#                                                <small><b>CRYSTAL BROWN</b></small>#}
{#                                                <span class="label label-danger pull-right">ASSIGN AGENT</span>#}
{#                                            </div>#}
{#                                            <span>Opened a support query</span>#}
{#                                            <span class="time small">2 mins ago</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li class="list-group-item">#}
{#                                    <a href="javascript:;">#}
{#                                        <div class="pull-left mt5 mr15">#}
{#                                            <div class="circle-icon bg-danger">#}
{#                                                <i class="ti-download"></i>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="m-body">#}
{#                                            <span>Upload Progress</span>#}
{#                                            <div class="progress progress-xs mt5 mb5">#}
{#                                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <span class="time small">Submited 23 mins ago</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li class="list-group-item">#}
{#                                    <a href="javascript:;">#}
{#                                        <span class="pull-left mt5 mr15">#}
{#                                            <img src="{% static 'img/faceless.jpg' %}" class="avatar avatar-sm img-circle" alt="">#}
{#                                        </span>#}
{#                                        <div class="m-body">#}
{#                                            <em>Status Update:</em>#}
{#                                            <span>All servers now online</span>#}
{#                                            <span class="time small">5 days ago</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ul>#}
{##}
{#                            <div class="panel-footer">#}
{#                                <a href="javascript:;">See all notifications</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}

{#                <li class="off-right">#}
{#                    <a href="javascript:;" data-toggle="dropdown">#}
{#                        <img src="{% static 'img/faceless.jpg' %}" class="header-avatar img-circle" alt="user" title="user">#}
{#                        <span class="hidden-xs ml10">Gerald Morris</span>#}
{#                        <i class="ti-angle-down ti-caret hidden-xs"></i>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu animated fadeInRight">#}
{#                        <li>#}
{#                            <a href="javascript:;">Settings</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="javascript:;">Upgrade</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="javascript:;">#}
{#                                <div class="badge bg-danger pull-right">3</div>#}
{#                                <span>Notifications</span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="javascript:;">Help</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="signin.html">Logout</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
            </ul>
        </header>
        <!-- /top header -->

        <section class="layout">

            <!-- main content -->
            <section class="main-content">

                <!-- content wrapper -->
                <div class="content-wrap">

                    <!-- inner content wrapper -->
                    <div class="wrapper">{% block content %}{% endblock %}</div>
                    <!-- /inner content wrapper -->

                </div>
                <!-- /content wrapper -->
                <a class="exit-offscreen"></a>
            </section>
            <!-- /main content -->

        </section>

    </div>

    <!-- core scripts -->
    <script src="{% static 'plugins/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'plugins/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/jquery.easing.min.js' %}"></script>
    <script src="{% static 'plugins/appear/jquery.appear.js' %}"></script>
    <script src="{% static 'plugins/jquery.placeholder.js' %}"></script>
    <script src="{% static 'plugins/fastclick.js' %}"></script>
    <!-- /core scripts -->

    <!-- page level scripts -->
    <!-- /page level scripts -->

    <!-- template scripts -->
    <script src="{% static 'js/offscreen.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- /template scripts -->

    <!-- page script -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <!-- /page script -->

</body>
<!-- /body -->

</html>