{% extends 'main/base.html' %}

{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <section class="widget bg-primary">
                <div class="widget-body">
                    <a href="javascript:;" class="pull-left mr15">
                        <i class="fa fa-cog m25"></i>
                    </a>

                    <div class="overflow-hidden">
                        <div>
                            <b>{% trans 'Все виды ремонта' %}</b>
                        </div>
                        <small>{% trans 'Производим все виды ремонта и настройки компьютерной техники, включая ноутбуки, планшеты и смартфоны.' %}</small>
                    </div>
                </div>
            </section>
            <section class="widget bg-success">
                <div class="widget-body">
                    <a href="javascript:;" class="pull-left mr15">
                        <i class="fa fa-wifi m25"></i>
                    </a>

                    <div class="overflow-hidden">
                        <div>
                            <b>{% trans 'Подключение интернета' %}</b>
                        </div>
                        <small>{% trans 'Мы сотрудничаем с крупнейшими провайдерами города, и готовы предложить Вам подключение и настройку интернета, беспроводную Wi-Fi сеть' %}</small>
                    </div>
                </div>
            </section>
            <section class="widget bg-default">
                <div class="widget-body">
                    <a href="javascript:;" class="pull-left mr15">
                        <i class="fa fa-apple m25"></i>
                    </a>

                    <div class="overflow-hidden">
                        <div>
                            <b>{% trans 'Ремонт Apple' %}</b>
                        </div>
                        <small>{% trans 'Специализированный сервис-центр по ремонту продукции Apple. В том числе iPhone, iPad, Macbook. Перепрошивка и настройка программного обеспечения' %}</small>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="widget bg-white">
                <div class="widget-body">
                    <a href="javascript:;" class="pull-left mr15">
                        <i class="fa fa-users m25"></i>
                    </a>

                    <div class="overflow-hidden">
                        <div>
                            <b>{% trans 'Корпоративные решения' %}</b>
                        </div>
                        <small>{% trans 'Выгодные решения для вашего бизнеса. Абонентское обслуживание юридических лиц, работа с 1С, настройка сетей и серверов' %}</small>
                    </div>
                </div>
            </section>
            <section class="widget bg-danger">
                <div class="widget-body">
                    <a href="javascript:;" class="pull-left mr15">
                        <i class="fa fa-rub m25"></i>
                    </a>

                    <div class="overflow-hidden">
                        <div>
                            <b>{% trans 'Скидки клиентам' %}</b>
                        </div>
                        <small>{% trans 'Для постоянных клиентов имеется гибкая система скидок, позволяющая Вам значительно экономить. Оформите нашу VIP-карту и получайте скидки до 20%' %}</small>
                    </div>
                </div>
            </section>
            <section class="widget bg-warning">
                <div class="widget-body">
                    <a href="javascript:;" class="pull-left mr15">
                        <i class="fa fa-clock-o m25"></i>
                    </a>

                    <div class="overflow-hidden">
                        <div>
                            <b>{% trans 'Бесплатный выезд в течение часа' %}</b>
                        </div>
                        <small>{% trans 'Наши мастера работают абсолютно во всех районах города, что позволяет нам реагировать в кратчайшие сроки. Мастер будет у Вас уже в течение 1 часа' %}</small>
                    </div>
                </div>
            </section>
        </div>

    </div>
{% endblock %}