{% extends 'main/base.html' %}

{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <section class="panel no-b">
                <div class="panel-heading no-b">
                    <h5>{% trans 'Базовые' %} <b>{% trans 'Услуги' %}</b></h5>
                </div>
                <div class="panel-body">
                    <table class="table no-m">
                        <thead>
                            <tr>
                                <th class="col-md-5 pd-l-lg">
                                    <span class="pd-l-sm"></span>{% trans 'Наименование' %}
                                </th>
                                <th class="col-md-2">{% trans 'Цена (руб.)' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Выезд мастера' %}
                                </td>
                                <td>{% trans 'Бесплатно' %}*</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Диагностика' %}
                                </td>
                                <td>{% trans 'Бесплатно' %}**</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Доставка оборудования в сервис и обратно' %}
                                </td>
                                <td>{% trans 'Бесплатно' %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="panel no-b">
                <div class="panel-heading no-b">
                    <h5>{% trans 'Профилактические' %} <b>{% trans 'Работы' %}</b></h5>
                </div>
                <div class="panel-body">
                    <table class="table no-m">
                        <thead>
                            <tr>
                                <th class="col-md-5 pd-l-lg">
                                    <span class="pd-l-sm"></span>{% trans 'Наименование' %}
                                </th>
                                <th class="col-md-2">{% trans 'Цена (руб.)' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Поиск и удаление вирусов' %}
                                </td>
                                <td>{% trans 'от' %} <i class="fa fa-rub"></i> 490</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Очистка ОС, чистка реестра' %}
                                </td>
                                <td>{% trans 'от' %} <i class="fa fa-rub"></i> 500</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Устранение ошибки в системном реестре' %}
                                </td>
                                <td><i class="fa fa-rub"></i> 150</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Удаление программного обеспечения' %}
                                </td>
                                <td><i class="fa fa-rub"></i> 250</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Установка драйверов (шт.)' %}
                                </td>
                                <td><i class="fa fa-rub"></i> 150</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Форматирование жесткого диска (раздела)' %}
                                </td>
                                <td><i class="fa fa-rub"></i> 290</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Разметка / нанесение файловой таблицы HDD' %}
                                </td>
                                <td><i class="fa fa-rub"></i> 150</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="panel no-b">
                <div class="panel-heading no-b">
                    <h5>{% trans 'Ремонт стационарных' %} <b>{% trans 'Компьютеров' %}</b></h5>
                </div>
                <div class="panel-body">
                    <table class="table no-m">
                        <thead>
                            <tr>
                                <th class="col-md-5 pd-l-lg">
                                    <span class="pd-l-sm"></span>{% trans 'Наименование' %}
                                </th>
                                <th class="col-md-2">{% trans 'Цена (руб.)' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Установка / замена комплектующих (за единицу)' %}
                                </td>
                                <td>{% trans 'Бесплатно' %}***</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Замена материнской платы' %}
                                </td>
                                <td><i class="fa fa-rub"></i> 590</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Чистка системного блока (без чистки БП)' %}
                                </td>
                                <td>{% trans 'от' %} <i class="fa fa-rub"></i> 690</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Подключение периферийных устройств' %}
                                </td>
                                <td>{% trans 'от' %} <i class="fa fa-rub"></i> 700</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Модернизация компьютера' %}
                                </td>
                                <td>{% trans 'Бесплатно' %}***</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="panel no-b">
                <div class="panel-heading no-b">
                    <h5>{% trans 'Ремонт' %} <b>{% trans 'Ноутбуков' %}</b></h5>
                </div>
                <div class="panel-body">
                    <table class="table no-m">
                        <thead>
                            <tr>
                                <th class="col-md-5 pd-l-lg">
                                    <span class="pd-l-sm"></span>{% trans 'Наименование' %}
                                </th>
                                <th class="col-md-2">{% trans 'Цена (руб.)' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Диагностика ноутбука в сервисном центре</td>
                                <td><i class="fa fa-rub"></i> 950**</td>
                            </tr>
                            <tr>
                                <td>Восстановление работоспособности ноутбука
                                    (воздействие жидкости)
                                </td>
                                <td>от <i class="fa fa-rub"></i> 990</td>
                            </tr>
                            <tr>
                                <td>Замена разъемов</td>
                                <td>от <i class="fa fa-rub"></i> 750</td>
                            </tr>
                            <tr>
                                <td>Замена микросхем</td>
                                <td>от <i class="fa fa-rub"></i> 1900</td>
                            </tr>
                            <tr>
                                <td>Удаление пароля BIOS ноутбука</td>
                                <td>от <i class="fa fa-rub"></i> 790</td>
                            </tr>
                            <tr>
                                <td>Подбор и замена клавиатуры ноутбука</td>
                                <td>от <i class="fa fa-rub"></i> 1500</td>
                            </tr>
                            <tr>
                                <td>Замена матрицы, включая её стоимость</td>
                                <td>от <i class="fa fa-rub"></i> 2500</td>
                            </tr>
                            <tr>
                                <td>Чистка ноутбука</td>
                                <td>от <i class="fa fa-rub"></i> 990</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="panel no-b">
                <div class="panel-heading no-b">
                    <h5>{% trans 'Работы с' %} <b>{% trans 'ПО' %}</b></h5>
                </div>
                <div class="panel-body">
                    <table class="table no-m">
                        <thead>
                            <tr>
                                <th class="col-md-5 pd-l-lg">
                                    <span class="pd-l-sm"></span>{% trans 'Наименование' %}
                                </th>
                                <th class="col-md-2">{% trans 'Цена (руб.)' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Настройка операционной системы' %}
                                </td>
                                <td>{% trans 'от' %} <i class="fa fa-rub"></i> 490</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Настройка офисного ПО (MS Office, OpenOffice)' %}
                                </td>
                                <td><i class="fa fa-rub"></i> 800</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Антивирус ESET NOD32 (лицензия 1 месяц)' %}
                                </td>
                                <td><i class="fa fa-rub"></i> 400</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Антивирус ESET NOD32 (лицензия 1 год)' %}
                                </td>
                                <td><i class="fa fa-rub"></i> 1150</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Антивирус ESET NOD32 Smart Security (лицензия 1 год)' %}
                                </td>
                                <td><i class="fa fa-rub"></i> 1750</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Настройка другого ПО' %}
                                </td>
                                <td>{% trans 'от' %} <i class="fa fa-rub"></i> 300</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Настройка родительского контроля' %}
                                </td>
                                <td>{% trans 'от' %} <i class="fa fa-rub"></i> 690</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Настройка удаленного контроля' %}
                                </td>
                                <td>{% trans 'от' %} <i class="fa fa-rub"></i> 490</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Восстановление удаленной информации' %}
                                </td>
                                <td>{% trans 'от' %} <i class="fa fa-rub"></i> 490</td>
                            </tr>
                                                        <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Восстановление данных с поврежденной/неисправной флешки' %}
                                </td>
                                <td>{% trans 'от' %} <i class="fa fa-rub"></i> 890</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pd-l-sm"></span>{% trans 'Восстановление данных с поврежденного/неисправного жесткого диска' %}
                                </td>
                                <td>{% trans 'от' %} <i class="fa fa-rub"></i> 1390</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="panel no-b">
                <div class="panel-heading no-b">
                    <h5>{% trans 'Интернет и' %} <b>{% trans 'Сети' %}</b></h5>
                </div>
                <div class="panel-body">
                    <table class="table no-m">
                        <thead>
                            <tr>
                                <th class="col-md-5 pd-l-lg">
                                    <span class="pd-l-sm"></span>{% trans 'Наименование' %}
                                </th>
                                <th class="col-md-2">{% trans 'Цена (руб.)' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Восстановление подключения к сети Интернет</td>
                            <td>от <i class="fa fa-rub"></i> 490</td>
                        </tr>
                        <tr>
                            <td>Настройка Wi-Fi сети</td>
                            <td>от <i class="fa fa-rub"></i> 600</td>
                        </tr>
                        <tr>
                            <td>Настройка ПК для объединения в сеть</td>
                            <td>от <i class="fa fa-rub"></i> 300</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="panel no-b">
                <div class="panel-heading no-b">
                    <h5>{% trans 'Ремонт планшетов и' %} <b>{% trans 'Смартфонов' %}</b></h5>
                </div>
                <div class="panel-body">
                    <table class="table no-m">
                        <thead>
                            <tr>
                                <th class="col-md-5 pd-l-lg">
                                    <span class="pd-l-sm"></span>{% trans 'Наименование' %}
                                </th>
                                <th class="col-md-2">{% trans 'Цена (руб.)' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Замена дисплея</td>
                                <td>от <i class="fa fa-rub"></i> 2500</td>
                            </tr>
                            <tr>
                                <td>Замена дисплея с тачскрином</td>
                                <td>от <i class="fa fa-rub"></i> 4500</td>
                            </tr>
                            <tr>
                                <td>Перепрошивка</td>
                                <td>от <i class="fa fa-rub"></i> 990</td>
                            </tr>
                            <tr>
                                <td>Замена кнопок</td>
                                <td>от <i class="fa fa-rub"></i> 990</td>
                            </tr>
                            <tr>
                                <td>Замена разъемов</td>
                                <td>от <i class="fa fa-rub"></i> 750</td>
                            </tr>
                            <tr>
                                <td>Замена деталей корпуса</td>
                                <td>от <i class="fa fa-rub"></i> 890</td>
                            </tr>
                            <tr>
                                <td>Ремонт системной платы</td>
                                <td>от <i class="fa fa-rub"></i> 1900</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="panel position-relative">
                <div class="panel-body">
                    <div class="overflow-hidden">
                        <p class="no-m">
                            <b>{% trans 'Обозначения' %}</b>
                        </p>
                    </div>
                    <p class="small">
                        <i class="fa fa-circle text-primary mr5"></i>
                        <b>*</b>
                        Бесплатный выезд мастера осуществляется в пределах города,
                        выезд за пределы КАД оплачивается отдельно, в зависимости
                        от района обслуживания.
                    </p>
                    <p class="small">
                        <i class="fa fa-circle text-primary mr5"></i>
                        <b>**</b>
                        Услуги предоставляются бесплатно при проведении каких-либо
                        дальнейших работ по ремонту или настройке компьютерной техники.
                        Изначально стоимость диагностики составляет от 300 рублей.
                    </p>
                    <p class="small">
                        <i class="fa fa-circle text-primary mr5"></i>
                        <b>***</b>
                            Условия предоставления бесплатных услуг по замене и
                        модернизации комплектующих уточняйте у операторов по телефону
                        8 (812) 900-56-50.
                    </p>
                </div>
            </section>
        </div>
    </div>
{% endblock %}